<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palmbook</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="left">
                <h2>Reset Password</h2>
                <h3>verify your account details</h3>
                <br><br>
                <form action="/reset-password" id="form" method="post">
                    <input type="email" id="email" name="email" placeholder="Enter your e-mail address" required><br><br>
                    <!-- <input type="password" id="pass" name ="password" placeholder="Password"required><br><br><br> -->
                    <!-- <a href="#" id="forgot">Forgot Password?</a><br><br> -->
                    <a href="/" id="back_login" type="button">Remember password ?</a>
                    <button id="requestbtn" type="submit">Reset Password</button><br>
                </form><br><br><br>
                <!-- <p>Don't have an account?? <a href="" id="signup" >Sign Up Here!</a></p> -->
            </div>
            <div class="Right">
                <img src="./Design.png" alt="" id="image">
                <div class="tagline">
                    <h1>Welcome to <br> PALMBOOK</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>