<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PalmBook</title>
    <link rel="stylesheet" href="./styles/messuser.css">
    <link rel="stylesheet" href="./styles/sidebar.css">

</head>
<body>
    <div class="container">
        <form action="/mess" method="post">
            <label for="Date">Date:</label>
            <input type="date" name="date" id="Date"><br>
            <label for="Breakfast">Breakfast: </label>
            <input type="text" name="breakfast" id="Breakfast" placeholder="Breakfast"><br>
            <label for="Lunch">Lunch: </label>
            <input type="text" name="lunch" id="Lunch" placeholder="Lunch"><br>
            <label for="Snacks">Snacks: </label>
            <input type="text" name="snacks" id="Snacks" placeholder="Snacks"><br>
            <label for="Dinner">Dinner: </label>
            <input type="text" name="dinner" id="Dinner" placeholder="Dinner"><br>
            <button type="submit" id="submitbtn">Submit</button>
        </form>
    </div>
</body>
</html>