<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PalmBook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/messuser.css">
</head>
<body>
    <div class="nav">
        <% if (message) { %>
            <div class="alert alert-danger" role="alert">
              <button
                type="button"
                class="close"
                onclick="this.parentElement.style.display='none';"
              >
                &times;
              </button>
              <%= message %>
            </div>
            <% } %> 
        <div class="set">
            <button id="setting"><i class="fa-solid fa-gear"></i></button>
            <div class="box">
                <ul>
                    <li><button onclick="modes()" >Mode</button></li>
                    <li><form action="/changepswd" method="get"><button>Change Password</button></form></li>
                    <li><form method="get" action="/logout"><button>Log Out</button></form></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <form action="/mess" id="form" method="post">
            <label for="Date">Date:</label>
            <input type="date" name="date" id="Date"><br>
            <label for="Breakfast">Breakfast: </label>
            <input type="text" name="breakfast" id="Breakfast" placeholder="Breakfast"><br>
            <label for="Lunch">Lunch: </label>
            <input type="text" name="lunch" id="Lunch" placeholder="Lunch"><br>
            <label for="Snacks">Snacks: </label>
            <input type="text" name="snacks" id="Snacks" placeholder="Snacks"><br>
            <label for="Dinner">Dinner: </label>
            <input type="text" name="dinner" id="Dinner" placeholder="Dinner"><br>
            <button type="submit" id="submitbtn">Submit</button>
        </form>
    </div>
</body>
</html>
