<div class="nav">
    <div class="set">
        <button id="setting"><i class="fa-solid fa-gear"></i></button>
        <div class="box">
            <ul>
                <li><button onclick="modes()" >Mode</button></li>
                <li><button>Change Password</button></li>
                <li><form method="get" action="/logout"><button>Log Out</button></form></li>
            </ul>
        </div>
    </div>
</div>