<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PalmBook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/shuttle.css">
    <link rel="stylesheet" href="./styles/sidebar_services.css">
</head>
<body>
    <div class="container">
        <%-include("sidebar.ejs")%>
        <div class="main">
            <%-include("navbar.ejs")%>
            <div class="tag">
                <p id="head">Shuttle Bookings</p>
                <button id="export" ><i class="fa-solid fa-file-export"></i>Export</button>
                <button id="save"><i class="fa-solid fa-plus"></i> Create Service</button>
            </div>
            <div class="nan">
                <ul>
                    <li>Campus to Iffco Chowk</li>
                    <li>Iffco to Campus</li>
                </ul>
            </div>
            <div class="Shuttle">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Enrollment Number</th>
                        <th>Course</th>
                        <th>Slot</th>
                        <th>Mobile Number</th>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/d91f0db9b6.js" crossorigin="anonymous"></script>
    <script src="./script.js"></script>
</body>
</html>