<div class="container">
    <div class="side">
        <h2>PalmBook</h2>
        <ul>
            <li><form action="/student" method="get"><button type="submit" id="createStudent-btn">Create Student</button></form></li>
            <li><form action="/faculty" method="get"><button type="submit" id="faculty">Create Faculty</button></form></li>
            <li><form action="/services" method="get"><button id="services" onclick="services()" >Services</button></form>
                <ul id="secondary">
                    <li><form action="/services" method="get"><button id="menu"> <i id="bullet" class="fa-solid fa-circle"></i> Mess Menu</button></form></li>
                    <li><form action="/shuttle" method="get"><button type="submit" id="shuttle"><i id="bullet" class="fa-solid fa-circle"></i> Shuttle</button></form></li>
                </ul>
            </li>

            <li><form action="/other" method="get"><button id="other">Others</button></form></li>
            <li><form action="/register" method="get"><button id="register-new">Register New</button></form></li>
        </ul>
    </div>