@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
    padding: 0%;
    margin: 0%;
}
label{
    font-weight: 100;
    font-family: 'poppins', sans-serif !important;
    font-size: 1.5vw;
}
input:focus {
    outline: none;
}
input{
    font-size: 1vw;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    font-family: 'poppins', sans-serif !important;
    text-align: center;
    width: 20vw;
    margin-bottom: 1vw;
}
#form{
    margin:13vw 35vw 0vw;
}
#submitbtn{
    font-size: 1.5vw;
    font-family: 'poppins', sans-serif !important;
    text-align: center;
    width: 10vw;
    margin-top: 2vw;
    margin-left: 12vw;
    background-color: rgba(97, 67, 230, 0.767);
    border-width: 0;
    color: white;
    cursor: pointer;
    border-radius: 0.4vw;
}
#Date{
    margin-left: 4vw;
}

#Breakfast{
    margin-left: 0.4vw;
}
#Lunch{
    margin-left: 3.1vw;
}
#Snacks{
    margin-left: 2.25vw;
}
#Dinner{
    margin-left: 2.8vw;
}
.nav{
    /* background-color: aquamarine; */
    height: 6vw;
    width: 100%;
}
#setting{
    cursor: pointer;
    border-radius: 50px;
    border: 0;
    background-color: transparent;
    margin-top: 2vw;
    font-size: 2vw;
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 90vw;
}
#setting :hover{
    transform: rotate(90deg);
    transition: transform 1.5s;
}

.box{
    position: absolute;
    top: 4.5vw;
    cursor: pointer;
    display: none;
}
.box ul{
    text-align: center;
    font-size: 1vw;
    margin-left: 85vw;
    list-style-type: none;
}
.box ul li button{
    width: 12vw;
    border: 0 1vw;
    cursor: pointer;
    font-size: 1.2vw;
    z-index: 1;
    border-radius: 0 10px 0 10px;
}
.box ul li :hover{
    background-color: rgb(149, 130, 233);
    color: white;
    border-color: white;
}

.set:hover .box{
    display: block;
    transition: all 2s;
}
.set{
    width: 0.1vw;
    height: 0.1vw;
}

.alert{
    background-color: rgba(97, 67, 230);
    text-align: center;
    padding-top: 0.4vw;
    font-size: 2vw;
    width: 100%;
    height: 3vw;
    z-index: 1;
    color: white;
    position: fixed;
}
.close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: inherit;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}
